<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEST</title>
</head>

<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" id="image" required />
        <input type="submit" value="submit" />
    </form>

    <img src="data:image/gif;base64,{{inp}}" style="max-width: 50%;">
    <img src="data:image/gif;base64,{{out}}" style="max-width: 50%;">
</body>

</html>